@(tasks: List[Task], newTaskForm: Form[String], updateTaskForm: String => Form[String])

<!-- Gives us form creation helpers, like form/inputText functions -->
@import helper._

@main("Todo List") {
  <h1>@tasks.size task(s)</h1>
	<span><a href="/user/logout">Logout </a></span>
	<ul>
		@tasks.map { task =>
		  <li>
				@defining(updateTaskForm(task.label)) { curForm =>
					@form(routes.Tasks.updateTask(task.id)){
						@helper.input(curForm("label")) { (id, name, value, args) =>
							<input type='text' name="@name" id="@id" value="@value" @toHtmlArgs(args) />
						}
						@********************************
						  alternate way to do input:
							@inputText(updateTaskForm(task.id, task.label)("label"))
            ********************************@
						<input type="submit" value="Update" />
					}
				}
				@form(routes.Tasks.deleteTask(task.id)) {
				  <input type="submit" value="Delete" />
				}
			</li>
		}
	</ul>
	<h2>Add a new task</h2>
	@form(routes.Tasks.newTask) {
	  @inputText(newTaskForm("label"))
	  <input type="submit" value="Create" />
	}
}
